@use 'src/styles/abstract/mixins';
@import 'src/styles/abstract/variables';

.wrapper {
  padding: 2rem;
  display: flex;
  flex-direction: column;

  @include mixins.respond(sm) {
    flex-basis: 50%;
    flex-grow: 1;
  }

  @include mixins.respond(md) {
    flex-basis: 33.3333%;
  }

  &Label {
    margin-bottom: 0.7rem;
  }

  &Input {
    position: relative;
  }
}

.label {
  font-size: 1.7rem;
  line-height: 2.1rem;
}

.icon {
  position: absolute;
  top: 0;
  left: 1rem;
  z-index: 1;
  line-height: 4.5rem;
  font-size: 2.4rem;
  color: lighten($color-text-dark-300, 40);
  transition: $transition-basic;
}
.input {
  width: 100%;
  height: 4.5rem;
  padding: 0.5rem 4.5rem;
  background-color: $color-bg-brightest;
  border: $border-primary;
  border-radius: $border-radius-medium;
  font-size: 1.6rem;
  line-height: 2.1rem;
  @include mixins.transition(border-color);

  &:focus {
    border: $border-input-focus;

    + .icon {
      color: $color-primary-600;
    }
  }
}
