@mixin respond($breakpoint) {
  @if $breakpoint == sm {
    @media only screen and (min-width: 576px) {
      @content;
    }
  }
  @if $breakpoint == md {
    @media only screen and (min-width: 768px) {
      @content;
    }
  }
  @if $breakpoint == lg {
    @media only screen and (min-width: 992px) {
      @content;
    }
  }
  @if $breakpoint == xl {
    @media only screen and (min-width: 1200px) {
      @content;
    }
  }
  @if $breakpoint == xxl {
    @media only screen and (min-width: 1400px) {
      @content;
    }
  }
}

@mixin transition($property) {
  transition: $property 0.3s ease;
}

@mixin tableRow {
  display: grid;
  grid-template-columns: 30% 45% 25%;

  @include respond(sm) {
    grid-template-columns: 25% 50% 25%;
  }
}
