// $color-primary-light: #3cabdb;
// $color-primary-medium: #167ffc;
// $color-primary-dark: #595bd4;

// $color-secondary-light: #fd5d7d;
// $color-secondary-medium: #fd3259;
// $color-secondary-dark: #fd0d3d;

// $color-bg-dark-primary: #333545;
// $color-bg-dark-secondary: #20222e;

// $color-bg-light-primary: #fefefe;
// $color-bg-light-secondary: #f2f2f2;
// $color-bg-light-ternary: #e0e0e0;

$color-primary-100: #cff4fc;
$color-primary-200: #9eeaf9;
$color-primary-300: #6edff6;
$color-primary-400: #3dd5f3;
$color-primary-500: #0dcaf0;
$color-primary-600: #0aa2c0;
$color-primary-700: #087990;
$color-primary-800: #055160;
$color-primary-900: #032830;

$color-bg-100: #f8f9fa;
$color-bg-200: #e9ecef;
$color-bg-300: #dee2e6;
$color-bg-400: #ced4da;
$color-bg-500: #adb5bd;
$color-bg-600: #6c757d;
$color-bg-700: #495057;
$color-bg-800: #343a40;
$color-bg-900: #212529;

$color-warning-primary: #dc3545;

$color-succes-primary: #198754;

$color-bg-brightest: #fff;
$color-bg-darkest: #000;

$color-text-default: #000;
$color-text-dark-100: #242442;
$color-text-dark-200: #353535;
$color-text-dark-300: #464646;

$color-text-brightest: #fff;

$border-primary: 1px solid #f0f0f0;
$border-table: $border-primary;
$border-input-focus: 2px solid $color-primary-600;
$border-button: 2px solid $color-primary-600;

$border-radius-small: 0.5rem;
$border-radius-medium: 0.8rem;
$border-radius-big: 1.1rem;

$transition-basic: all 0.3s ease;

$box-shadow-primary: rgba(0, 0, 0, 0.09) 0px 2px 4px;
