@use 'src/styles/abstract/mixins';
@import 'src/styles/abstract/variables';

.button {
  &,
  &:focus {
    padding: 0.7rem 2rem;
    border: $border-button;
    border-radius: $border-radius-medium;
    background-color: $color-primary-600;
    font-size: 2.5rem;
    color: $color-text-brightest;
    cursor: pointer;
  }
}

i {
  display: inline-block;
  margin-right: 2rem;
}
