@use 'src/styles/abstract/mixins';
@import 'src/styles/abstract/variables';

.wrapper {
  &Error {
    padding: 3rem;
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.errorMessage {
  text-align: center;
  font-size: 3rem;
  color: $color-warning-primary;
}
