@use 'src/styles/abstract/mixins';
@import 'src/styles/abstract/variables';

.App {
  max-width: 95%;
  margin: 2rem auto 0;
  background-color: $color-bg-brightest;
  border-radius: $border-radius-big;

  @include mixins.respond(xxl) {
    max-width: 1400px;
  }
}

header {
  padding: 2rem 0;
  border-bottom: $border-primary;
}
