@use 'src/styles/abstract/mixins';
@import 'src/styles/abstract/variables';

.App {
  max-width: 100%;
  background-color: $color-bg-brightest;

  @include mixins.respond(md) {
    margin: 2rem auto 0;
    border-radius: $border-radius-big;
    max-width: 95%;
  }

  @include mixins.respond(xxl) {
    max-width: 1400px;
  }
}

.header {
  padding: 2rem 0;
  border-bottom: $border-primary;
  position: relative;
}

.header-container {
  margin: 0 auto;
}
