@use 'src/styles/abstract/mixins';
@import 'src/styles/abstract/variables';

.form {
  padding: 0 2rem;
  border-bottom: $border-primary;

  @include mixins.respond(md) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  &Inputs {
    flex-basis: 100%;
    @include mixins.respond(sm) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  &Filters {
    flex-basis: 100%;
    display: flex;

    @include mixins.respond(md) {
      flex-basis: 66%;
    }
  }

  &Button {
    margin-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    justify-content: center;

    @include mixins.respond(md) {
      flex-basis: 33%;
      margin-top: 0;
      padding: 2rem;
      align-self: flex-end;
      justify-content: flex-end;
    }
  }
}
